* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background: #bdbdbd;
}

#tagline .text-position {
    top: 35%;
}

#tagline .text-position .title,
#tagline .text-position .subtitle {
    margin: 1vw 3vw;
}

#tagline .text-position .title {
    font-size: 8vw;
}

#tagline .text-position .subtitle {
    font-size: 5vw;
}
