<div id="about" class="container py-5">
    <hr class="text-light">
    <div class="row align-items-start mt-5">
        <div class="col-12 col-md-8">
            <h1 class="mt-4">
                This First Heading <span class="text-muted">Will Catch Your Eye</span>
            </h1>
            <h5 class="text-muted">
                Donec ullamcorper nulla non metus autor fringilla. Vestibulum id ligula porta felis euismod semper. Praesent commodo cursus magna, vel scelerisque nisl consectetur. Fusce dapibus, tellus ac cursus commodo.
            </h5>
        </div>
        <div class="col-12 col-md-4">
            <img 
                src="assets/img/1.jpg"
                alt="illustration"
                class="img-fluid rounded-circle w-100 object-fit-cover"
            >
        </div>
    </div>
</div>