

<div id="portafolio" class="container py-5">
<hr class=" text-light">
<div class="row mb-4">
<div class="col-12">
<h1 class="text-start text-li">Portafolio</h1>
<h5 class="text-secondary text-start">Lorem ipsum dolor, sit amet consectetur adipisicing elit. Hic ea veritatis fugiat rerum nemo, quod quae doloremque eaque inventore molestias libero aperiam praesentium in. Dolores praesentium quia delectus laudantium quos!</h5>
</div>
</div>

<!-- caja 1 -->
<div class="row mt-4">

<div class="col-12 col-sm-6 col-md-4 mb-4">  
<img src="assets/img/big-project-image.png" class="img-fluid w-100 mb-3" alt=""> 
<h2 class="h5 text-primary mt-2">Proyecto Name</h2>
<p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Ipsam, omnis aliquid eum sunt et neque aut dolore totam cupiditate eaque ad vitae exercitationem deleniti consequatur consectetur repudiandae! Molestias, culpa voluptatum?</p>
</div>

<!-- fin caja 1 -->


<!-- caja 2 -->

<div class="col-12 col-sm-6 col-md-4 mb-4">  
<img src="assets/img/big-project-image.png" class="img-fluid w-100 mb-3" alt=""> 
<h2 class="h5 text-primary mt-2">Proyecto Name</h2>
<p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Ipsam, omnis aliquid eum sunt et neque aut dolore totam cupiditate eaque ad vitae exercitationem deleniti consequatur consectetur repudiandae! Molestias, culpa voluptatum?</p>
</div>


<!-- caja 3 -->

<div class="col-12 col-sm-6 col-md-4 mb-4">  
<img src="assets/img/big-project-image.png" class="img-fluid w-100 mb-3" alt=""> 
<h2 class="h5 text-primary mt-2">Proyecto Name</h2>
<p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Ipsam, omnis aliquid eum sunt et neque aut dolore totam cupiditate eaque ad vitae exercitationem deleniti consequatur consectetur repudiandae! Molestias, culpa voluptatum?</p>
</div>
</div>
 




</div>


