<div id="services" class="container m-5">
    <hr class="m-5">
    <div class="d-flex flex-md-row flex-column mx-5">
        <img class="rounded-circle me-3 mb-5" src="assets/img/2.jpg" alt="">
        <div>
            <h2>The Second Heading 
                <span class="text-secondary">Is Pretty Cool Too.</span>
            </h2>
            <p>Donec ullamcorper nulla non metus auctor fringilla. Vestibulum id ligula porta felis euismod semper. Praesent commodo cursus magna, vel scelerisque nisl consectetur.
        Fusce dapibus, tellus ac cursus commodo.</p>
        </div>
    </div>
</div>

